
.barra-categoria-single{
    margin-left: 40px;
    margin-right: 40px;
    min-height: 80vh;
}
.grid-container-filtro { 
    margin-top: 20px;   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-bottom: 30px;    
    padding-left: 80px;
    justify-content: center;
    align-items: center;
  }  
  @media (max-width: 1440px) {
    .barra-categoria-single{
        margin-left: 40px;
        margin-right: 40px;
    }
    .grid-container-filtro { 
        margin-top: 20px;   
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        margin-bottom: 30px;    
        padding-left: 60px;
        justify-content: center;
        align-items: center;
      }
  }
  
  /* Estilos responsivos */
  @media (max-width: 1024px) {
    .grid-container-filtro {
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;
      margin-bottom: 30px;
    }
    .barra-categoria-single{
        margin-left: 40px;
        margin-right: 40px;
    }
    .grid-container-filtro { 
        margin-top: 20px;   
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        margin-bottom: 30px;    
        padding-left: 20px;
        justify-content: center;
        align-items: center;
      }
  }
  
  @media (max-width: 767px) {
    .grid-container-filtro {
      grid-template-columns: repeat(2, 1fr);
      gap: 8px;
      margin-bottom: 30px;
      
    }
    .barra-categoria-single{
        margin-left: 22px;
        margin-right: 40px;
        min-height: 80vh;
    }
  }
  