.results-list {
  cursor: pointer;
  width: 110%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #4c4b4b;
  border-radius: 10px;
  margin-top: -1rem;
  margin-left: -0.7rem;
  max-height: 500px;
  overflow-y: auto;  
}
@media (max-width: 1440px) {
  .results-list{
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .results-list{
    margin-top: -4rem;
    
  }
}
@media (max-width: 767px) {
  .results-list{
    margin-top: -3.4rem;
    margin-left: -0.6vw;        
  }
}
