@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes stayStill {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}
.container-boton {
    display: flex;
    justify-content: flex-end; 
}
.botonWhatsApp {
    position: relative; 
    font-size: 2rem;
    color: white; 
    background-color: #FDA310; 
    border-radius: 50%; 
    padding: 1rem; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border: none; 
    margin: 0rem 3rem 1rem 0rem;
    animation: jump 0.5s infinite; 
}
.botonWhatsApp:hover {
    animation: stayStill 0s forwards; 
}
.botonWhatsApp:hover::before {
    content: "Comunícate con un asesor"; 
    position: absolute; 
    bottom: calc(100% + 1rem); 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: black; 
    color: white; 
    padding: 5px 10px; 
    border-radius: 5px; 
    font-size: 1rem; 
}
.whatsapp-modal{
    position: fixed;
    font-size: 1.3rem;
    width: 100%;
    height: auto;          
}
.whatsapp-modal-container{
    margin: 11rem 20rem;
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    text-align: center; 
}
.whatsapp-modal-h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}
.whatsapp-modal-cerrar{
    text-align: center;
    margin-top: 1.5rem;
}
.whatsapp-modal-boton{         
    padding: 0.5rem 2rem;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.262);
    font-size: 1.3rem;
    cursor: pointer;
}
.whatsapp-modal-boton:hover {
    background-color: rgba(0, 0, 0, 0.353);
}
@media only screen and (max-width: 1024px) {
    .whatsapp-modal {
        font-size: 1rem; 
    }      
    .whatsapp-modal-container {
        margin: 9rem 2rem ; 
        padding: 1.5rem; 
    }  
}