.container-ruta-no-encontrada{
    min-height: 69vh;
    margin-top: 14vh;    
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.titulo-not-found{
    font-size: 30px;
    font-weight: bold;
}
.contenedor-parrafo-not-found{    
    width: 24vw;
    text-align: center;
    margin-top: 2vh;
}
.contenedor-imagen-not-found{    
    display: flex;
    justify-content: center;
    width: 25vw;
    height: 45vh;
    margin-top: 5vh;    
}
.imagen-not-found{
    width: 100%;
}
.contenedor-boton-not-found{
    margin-top: 2vh;    
}
.boton-not-found{
    cursor: pointer;
    width: 12vw;
    height: 4vh;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content:center ;
    align-items: center;    
}
.boton-not-found:hover{
    background-color: rgba(0, 0, 0, 0.772);
}
.icono-back-home-not-found{
    margin-right: 0.7vw;
}
.link-boton-not-found{
    text-decoration: none;
}
@media (max-width: 1440px) {
    .container-ruta-no-encontrada{
        min-height: 69vh;
        margin-top: 13.4vh;        
    }
    .contenedor-parrafo-not-found{    
        width: 35vw;        
    }
}
@media (max-width: 1024px) {
    .container-ruta-no-encontrada{
        min-height: 70vh;
        margin-top: 10vh;        
    }
    .contenedor-parrafo-not-found{    
        width: 60vw;        
    }
    .contenedor-imagen-not-found{       
        width: 60vw;            
    } 
    .boton-not-found{
        cursor: pointer;
        width: 35vw;
        height: 4vh;          
    }   
}
@media (max-width: 767px) {
    .container-ruta-no-encontrada{
        min-height: 70vh;
        margin-top: 10vh;        
    }
    .contenedor-parrafo-not-found{    
        width: 90vw;        
    }
    .contenedor-imagen-not-found{       
        width: 80vw;
        height: 40vh;            
    } 
    .boton-not-found{        
        width: 45vw;
        height: 4vh;          
    }
}

