.contenedor-elementos-dashboard{        
    width: 100vw;
    min-height: 70vh;
    display: flex;
    margin-top: 13vh;         
}
.left-section-dashboard{        
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: end;
}
.right-section-dashboard{        
    width: 50vw;
    display: flex;
    flex-direction: column;        
    align-items: center;
}
.img-admin-dashboard{
    width: 70%;
    height: auto;
}
.dashboard-text-container{        
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;
    margin-top: 15vh;
    font-size: 25px;
}
.dashboard-boton-container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr);
    gap: 6vh;        
    justify-items: center;
    align-items: center;
    margin-top: 10vh;
                          
}
.btn-dashboard{
    cursor: pointer;
    border-radius: 30px;
    height: 50px;
    font-size: 18px;
    width: 230px;
    background-color: black;
    color: aliceblue;
    border-style: none;       
    display: flex;
    justify-content:center;
    align-items: center;    
}
.btn-dashboard:hover{
    background-color: rgb(80, 80, 80);
}
.no-responsive-dashboard{
    display: none;
}


@media (max-width: 1440px) {
    .contenedor-elementos-dashboard{        
        width: 100vw;
        min-height: 70vh;
        display: flex;        
    }
    .left-section-dashboard{        
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: end;
    }
    .right-section-dashboard{        
        width: 50vw;
        display: flex;
        flex-direction: column;        
        align-items: center;
    }
    .img-admin-dashboard{
        width: 90%;
        height: auto;
    }
    .dashboard-text-container{        
        padding-left: 10vw;
        padding-right: 10vw;
        text-align: center;
        margin-top: 15vh;
        font-size: 25px;
    }
    .dashboard-boton-container {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(2, 1fr);
        gap: 6vh;        
        justify-items: center;
        align-items: center;
        margin-top: 10vh;
                              
    }
    .btn-dashboard{
        border-radius: 30px;
        height: 50px;
        font-size: 18px;
        width: 230px;
        background-color: black;
        color: aliceblue;
        border-style: none;       
        display: flex;
        justify-content:center;
        align-items: center;    
    }
    .no-responsive-dashboard{
        display: none;
    }
}

@media (max-width: 1024px) {
    .left-section-dashboard{
        display: none;
    }
    .right-section-dashboard{
        display: none;
    }
    .no-responsive-dashboard{
        display: block;
    }
    .left-section-dashboard{
        display: none;
    }
    .right-section-dashboard{
        display: none;
    }
    .no-responsive-dashboard{
        display: block;
    }
    .no-responsive-dashboard {
        width: 100vw;
        min-height: 60vh;        
        display: flex;
        flex-direction: column;        
        align-items: center;  
    }
    .container-titulo-no-responsive-dashboard{
        margin-top: 6vh;
    }
    .titulo-no-responsive-dashboard{
        font-size: 50px;
    }
    .container-text-no-responsive-dashboard{
        margin-top: 6vh;
    }
    .text-no-responsive-dashboard{        
        padding-left: 15vw;
        padding-right: 15vw;
        text-align: center;
        font-size: 25px;
    }
    .container-imagen-no-responsive-dashboard{
        margin-top: 6vh;
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imagen-no-responsive-dashboard{
        width: 70%;
    }
}
@media (max-width: 767px) {
    .left-section-dashboard{
        display: none;
    }
    .right-section-dashboard{
        display: none;
    }
    .no-responsive-dashboard{
        display: block;
    }
    .no-responsive-dashboard {
        width: 100vw;
        min-height: 60vh;        
        display: flex;
        flex-direction: column;        
        align-items: center;  
    }
    .container-titulo-no-responsive-dashboard{
        margin-top: 6vh;
    }
    .titulo-no-responsive-dashboard{
        font-size: 50px;
    }
    .container-text-no-responsive-dashboard{
        margin-top: 6vh;
    }
    .text-no-responsive-dashboard{        
        padding-left: 15vw;
        padding-right: 15vw;
        text-align: center;
        font-size: 25px;
    }
    .container-imagen-no-responsive-dashboard{
        margin-top: 6vh;
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imagen-no-responsive-dashboard{
        width: 70%;
    }
}
