.container-principal-single-card {
    width: 40vw;
    height: 60vh;
    padding: 20px;
    font-size: 20px;
    border: 1px solid #ccc; 
    border-radius: 8px; 
    box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.1), 4px 0px 10px rgba(0, 0, 0, 0.1); 
    
}
.img-single-card{
    width: 50%;
}
.container-img-single-card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-precio-single-card{
    display: flex;
    justify-content: space-between;
}
.corazon-single-card{
    font-size: 30px;
    color: #686766;
    transition: background-color 0.3s;    
}
.corazon-single-card.clicked {
    color: #FDA310; /* Cambia el color de fondo del icono cuando se hace clic */
  }
  
 
.container-corazon-single-card{
    cursor: pointer;
    display: flex;
    justify-content: end;
}
.container-precio-single-card{
    margin-top: 15px;
}
.text-price-single-card{
    color: #E54E13;
    font-size:  25px;
    font-weight: bold;
}
.text-dia-single-card{
    color: #E54E13;
}
.container-name-single-card{
    margin-top: 10px;
}
.container-stars-sigle-card{
    margin-top: 15px;
    font-size: 30px;
    color: #FDA310;
}
@media (max-width: 1440px) {
    .container-principal-single-card {
        height: 50vh;
    }
}

@media (max-width: 1024px) {
 
    .container-principal-single-card {
        width: 38vw;
        height: 36vh;
        padding: 20px;
        font-size: 20px;
        border: 1px solid #ccc; 
        border-radius: 8px; 
        box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.1), 4px 0px 10px rgba(0, 0, 0, 0.1); /* Agrega sombras a la izquierda y derecha */
    }
    .img-single-card{
        width: 70%;
    }
    .container-img-single-card{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-precio-single-card{
        display: flex;
        justify-content: space-between;
    }
    .corazon-single-card{
        font-size: 30px;
        color: #686766;
        transition: background-color 0.3s;    
    }
    .corazon-single-card.clicked {
        color: #FDA310; /* Cambia el color de fondo del icono cuando se hace clic */
      }
    .container-corazon-single-card{
        display: flex;
        justify-content: end;
    }
    .container-precio-single-card{
        margin-top: 15px;
    }
    .text-price-single-card{
        color: #E54E13;
        font-size:  25px;
        font-weight: bold;
    }
    .text-dia-single-card{
        color: #E54E13;
    }
    .container-name-single-card{
        margin-top: 10px;
    }
    .container-stars-sigle-card{
        margin-top: 15px;
        font-size: 30px;
        color: #FDA310;
    }

}

@media (max-width: 767px) {
    .container-principal-single-card {
        width: 44vw;
        height: 43vh;
        padding: 5px;
        font-size: 20px;
        border: 1px solid #ccc; 
        border-radius: 8px; 
        box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.1), 4px 0px 10px rgba(0, 0, 0, 0.1); /* Agrega sombras a la izquierda y derecha */
    }
    .img-single-card{
        width: 100%;
    }
    .container-precio-single-card{
        display: flex;
        justify-content: space-between;
    }
    .corazon-single-card{
        font-size: 30px;
        color: #686766;
        transition: background-color 0.3s;    
    }
    .corazon-single-card.clicked {
        color: #FDA310; /* Cambia el color de fondo del icono cuando se hace clic */
      }
    .container-corazon-single-card{
        display: flex;
        justify-content: end;
    }
    .container-precio-single-card{
        margin-top: 15px;
    }
    .text-price-single-card{
        color: #E54E13;
        font-size:  25px;
        font-weight: bold;
    }
    .text-dia-single-card{
        color: #E54E13;
    }
    .container-name-single-card{
        margin-top: 10px;
    }
    .container-stars-sigle-card{
        font-size: 25px;
        color: #FDA310;
    }
}