.calendario-container {
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;  
  }
  
  .calendario-card {
    position: absolute;
    background-color: white;
    border: 1px solid #FDA310;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px; 
    z-index: 1;  
  }
  
  .calendario-card {  
    top: calc(60% + 30px); /* Posición debajo del botón */
  }
  
  .calendario-card select {
    background-color: #FDA310;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 15px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100px;
  }
  
  .calendario-card select:hover {
    background-color: #FFCC5A;
    border-radius: 5px;
  }
  
  .rdrMonthName {
    text-transform: capitalize;
    color: #FDA310;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif !important;
  }
  
  .rdrWeekDays > span {
    text-transform: capitalize;
    color: black;
    font-weight: bold;
  }
  
  .rdrDayDisabled {
    cursor: not-allowed;
    background-color: white;
    font-weight: bold;
    color: black;
  }
  
  .rdrMonthAndYearWrapper > button {
    background-color: #FDA310;
  }
  
  .rdrMonthAndYearWrapper > button:hover {
    background-color: #FFCC5A;
  }
  
  .search-bar {  
    border-radius: 20px;
    width: 17vw;
    height: 38px;
    padding: 5px; /* Ajustar el relleno para que coincida con el de .inputBox */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .inputBox {
    font-size: 16px;
    border-radius: 20px; /* Hacer que el border-radius coincida con el de .search-bar */
    text-align: center;  
    flex-grow: 1;
    padding: 5px; /* Ajustar el relleno para que coincida con el de .search-bar */
    border: none;
    width: 100%;
    height: 48px;
  }
  @media (max-width: 1440px) {
    .calendario-card {  
      top: calc(63% + 30px); 
    }
  }
  @media (max-width: 1024px) {
    .calendario-card {  
      top: calc(131% + 30px); 
    }
    .inputBox{
      font-size: 20px;      
    }
    .search-bar{
        width: 50vw;
    }
    
  }
  @media (max-width: 767px) {
    .calendario-card {  
      top: calc(113.5% + 30px); 
    }
    .inputBox{
      font-size: 20px;
    }
    .search-bar {  
      border-radius: 70px;
      width: 78vw;
      height: 38px;
      padding: 5px; /* Ajustar el relleno para que coincida con el de .inputBox */
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      border: none;
    }
    
    .inputBox {
      font-size: 16px;
      border-radius: 70px; /* Hacer que el border-radius coincida con el de .search-bar */
      text-align: center;  
      flex-grow: 1;
      padding: 5px; /* Ajustar el relleno para que coincida con el de .search-bar */
      border: none;
      width: 100%;
      height: 48px;
      border: none;
    }
  
  }