#Barra-Categoria-container{
    background-image: url('../../../../../../assets/categorias/fondo_home.svg');  
    width: 99.5vw;
    margin-left: -40px;
    margin-bottom: 20px;
    height: 211px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content:space-between;
    align-items: center;        
}
.barra-categoria-izq{
    width: 20%;
    height: 100%;
}
.img-barra-categoria-izq{
    width: 100%;
    height: 100%;
}
.barra-categoria-cen{
    margin-right: 220px;
    font-size: 25px;
}
.barra-categoria-atras-boton{
    cursor: pointer;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 120px;
    height: 49px;
    border-radius: 20px;
    border: none;
    background-color: #000000;
    color: white;
    font-size: 19px;
    margin-right: 50px;
}

@media (max-width: 1440px) {
    .barra-categoria-cen{
        margin-right: 100px;        
    }
    
}
@media (max-width: 1024px) {
    .barra-categoria-cen{
        margin-right: 30px;        
    }
    #Barra-Categoria-container{
        height: 15vh;
    }
    .img-barra-categoria-izq{
        display: none;       
    }
    .barra-categoria-atras-boton{
        width: 120px;
        height: 35px;
    }
       
    
}
@media (max-width: 768px) {
    .barra-categoria-atras-boton{
        width: 80px;
        height: 20px;
        font-size: 15px;
        margin-right: 8px;
    }
    #Barra-Categoria-container{
        width: 100vw;        
    }
    
}