.container-perfil {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 265px;
    margin-top: 13vh; 
  }

.container-franja {    
    display: flex;
    align-items: center;
    margin-top: -064;
    flex-direction: column;
    width: 100%;
 }

 .franja { 
    display: flex;
    justify-content: space-between;  
    background-image: url('../../../../assets/perfil/perfil-fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    height: 200px;
    padding: 1rem;
 }

.h2perfil {
    margin-left: 2rem;
    margin-top: 4rem;
}

.paginacion-atras{
    display: flex;
    margin-right: 3rem;
    margin-top: 4rem;
    position: relative;
}

.link-gris {
    color: rgba(0, 0, 0, 0.792);
    text-align: right;
    font-size: 1rem;
    text-decoration: none;
}

.container-login-user{
    margin: 0%;
}

.circle-login-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #FFEAC9; 
    color: #FDA310; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-top: -30px;
    margin-right: 0px;
  }


  .perfil-info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .info-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
  }
  
  .info-group label {
    opacity: 70%;
    margin-bottom: 0.5rem;
  }
  
  .info-value {
    font-size: 1.5rem;
    border: 2px solid #a4a4a46a;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    height: 40px; /* Ajusta el ancho para que ocupe todo el espacio disponible */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
  }
  .boton-perfil-franja{
    cursor: pointer;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .boton-perfil-franja:hover{
    background-color: rgb(42, 41, 41);
  }

  @media (max-width: 1440px) {
    .info-group{      
      width: 50vw;            
     }
  }
  @media (max-width: 1024px) {
    .info-group{      
      width: 180%;
      margin-left: -150px;
     }
  }
  @media (max-width: 767px) {
    .franja { 
        height: 150px;
     }

    .perfil-info {
        width: 70%;
      }

    .paginacion-atras {
        margin-right: 1rem;
     }
     .info-group{      
      width: 120%;
      margin-left: -30px;
     }
}