.containerError{
    position: fixed;
    font-size: 1.5rem;
    
}
.errorConfirmacion {
    margin: 9rem 15rem;
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    text-align: center;    
}
.iconoError {
    font-size: 5rem;
    margin-bottom: 2rem;
    color: #555555;
}
.mnjError{
    margin-bottom: 3rem;  
    line-height: 1.8;   
}
.buttonError{        
    width: 93px;
    height: 38px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.262);
    font-size: 20px;
    cursor: pointer;
}
.buttonError:hover {
    background-color: rgba(0, 0, 0, 0.353);
}
@media only screen and (max-width: 1024px) {
    .containerError {
        font-size: 1.3rem; 
    }  
    
    .errorConfirmacion {
        margin: 9rem 2rem ; 
        padding: 1.5rem; 
    }  
    
    .iconoError {
        font-size: rem; 
        margin-bottom: 1rem; 
    }
    
    .mnjError {
        margin-bottom: 2rem;  
    }

    .buttonError {
        margin-left: 1rem; 
        width: 80px; 
        height: 32px; 
        font-size: 18px; 
    }
}