.container-principal-favoritos{
    min-height:  70vh;    
    padding-left: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
    margin-top: 13vh; 
}
.cards-container-favoritos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-bottom: 30px; 
}

@media (max-width: 1440px) {
    
}
@media (max-width: 1024px) {

}
@media (max-width: 767px) {
    .container-principal-favoritos{
        min-height:  66vh;        
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        justify-content: center;        
    }
    .cards-container-favoritos{
        grid-template-columns: repeat(2, 1fr); 
        gap: 25px;
        margin-bottom: 30px;
    } 
}
